.Header {
  display: flex;
  flex-direction: column;
  font-family: "Fjalla One", Helvetica, sans-serif;
}

.Header > h2 {
  margin: 0;
  font-size: 3rem;
  line-height: 4.5rem;
}
ul.Groups {
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media (min-width: 768px) {
  .Directory {
    width: 85%;
    margin: 0 auto;
  }

  .Header {
    padding: 0 var(--large-gutter-desktop);
  }

  ul.Groups > li {
    /* flex-grow: 1; */
    width: 40vw;
  }

  ul.Groups {
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto ;
    align-content: center;
  }

  .Header h2 {
    font-size: 5rem;
  }
}
