.Header {
  display: flex;
  flex-direction: column;
  font-family: "Fjalla One", Helvetica, sans-serif;
  word-break: keep-all;
}

header.Header > h2 {
  margin: 0;
  font-size: 3rem;
  line-height: 4.5rem;
}

.GroupsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Groups {
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media (min-width: 768px) {
  .Directory {
    width: 85%;
    margin: 0 auto;
  }

  .Header {
    padding: 0 var(--large-gutter-desktop);
  }

  .GroupsContainer {
    flex-direction: row;
  }

  .Groups {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .Header h2 {
    font-size: 5rem;
  }
}
