body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

div.MainContainer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100vw;
}

main.Content {
  flex: 1 0 auto;
  width: 100vw;
}
/* @media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
} */
