.SingleRoleContainer {
  width: 90%;
  max-width: 100vw;
  border: 3px solid var(--main-black);
  margin: 3rem auto;
  transition: all 0.4 ease-in;
  font-family: "DM Mono", Courier, monospace;
  font-weight: 300;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 125%;
}

.HeaderContainer {
  display: flex;
  flex-direction: row;
  border-bottom: 0.3rem solid var(--main-black);
  margin-bottom: 3vw;
  max-width: 100vw;
}

.HeaderContainer h1 {
  font-family: "Fjalla One", Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

/* .SingleRoleContainer dd,
dt  {
  padding: 1rem 3rem 0 3rem;
} */

.SingleRoleContainer a,
.SingleRoleContainer a::before,
.SingleRoleContainer a:active,
.SingleRoleContainer a::after {
  color: var(--main-black);
}

.Role {
  text-transform: uppercase;
  border-right: 3px solid var(--main-black);
  text-align: center;
  padding: 0 3vw;
  flex: 2;
}

.Remote {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  flex: 1;
}

.Role h2 {
  font-size: 5vw;
  line-height: 6.5vw;
}

.Button {
  border: none;
  text-align: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.Button:hover {
  cursor: pointer;
}

.Button:focus {
  outline: none;
}

.ButtonContainer {
  border-top: 3px dashed var(--main-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.NotShow {
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.Remote dd {
  width: 100%;
  text-align: center;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@media (min-width: 768px) {
  .SingleRoleContainer {
    font-size: 1.8vw;
  }

  .Remote {
    font-size: 2.5vw;
  }
}
