.AboutContainer {
  margin: 3rem var(--small-gutter-mobile);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.AboutContainer h1{
  margin: 0;
}

@media (min-width: 768px) {
  .AboutContainer {
    margin: 3rem var(--large-gutter-desktop);
  }
}
