.AboutContainer{
  width: 90%;
  box-sizing: border-box;
  margin: 3rem auto;
  padding: 0 2rem 0 3rem;
  font-weight: 300;
  font-style: normal;
  line-height: 125%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .AboutContainer {
    width: 57%;
    padding: 0 3rem 0 4rem;
  }
}
