.Footer {
  background-color: var(--main-green-color);
  width: 100%;
  min-height: 16rem;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
}
