.SingleGroupContainer {
  border: 3px solid var(--main-black);
  margin: 3rem auto 0;
  display: flex;
  flex-direction: column;
  width: 85%;
}

.HeaderContainer {
  display: flex;
  flex-direction: row;
  border-bottom: 0.3rem solid var(--main-black);
  background-color: var(--main-light-green);
  margin-bottom: 3rem;
  word-break: keep-all;
}

.HeaderContainer > h2 {
  margin-left: 1.5rem;
}

.Button {
  border: none;
  background-color: transparent;
  margin: 0 auto;
  display: block;
  padding-top: 1rem;
}

.Button:hover {
  cursor: pointer;
}

.Button:focus {
  outline: none;
}

.ButtonContainer {
  width: 100%;
  border-top: 3px solid var(--main-black);
  max-height: 5rem;
}

.NotShow {
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.Links {
  display: flex;
  flex-direction: column;
  border-top: 3px solid var(--main-black);
}

.Links > a {
  text-decoration: none;
}

.Social,
.Website {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 2rem;
}

.Description {
  padding: 0 1.5rem;
}


@media (min-width: 768px) {

.SingleGroupContainer{
  width: 100%
}
  .HeaderContainer > h2 {
    margin-left: 2.5rem;
  }

  .Links {
    flex-direction: row;
  }

  .Social,
  .Website {
    flex: 1;
  }

  .Website {
    border-left: 3px solid var(--main-black);
  }

  .Role {
    border-right: 3px solid var(--main-black);
    flex: 2;
  }

  .Description {
    padding: 0 3rem;
  }
}
