@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap");

:root {
  --main-green-color: #49b775;
  --main-light-green: rgba(73, 183, 117, 0.25);
  --main-black: #000000;
}

/* sets 1rem to 10px with standard 16px font size */
html {
  font-size: 62.5%;
  height: 100%;
}

* {
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-family: "DM Mono", Courier, monospace;
}

a,
a::before,
a:active,
a::after {
  color: var(--main-black);
}
dl,
dt,
dt {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 400;
  font-family: "Fjalla One", Helvetica, sans-serif;
  text-transform: uppercase;
}

h2 {
  font-family: "Fjalla One", Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  h2 {
    font-size: 5rem;
    line-height: 6.5rem;
  }

  h5 {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 400;
  }

  h6 {
    font-size: 1.8rem;
    line-height: 2.25rem;
    font-weight: 500;
  }
}
