@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap");

:root {
  --main-green-color: #49b775;
  --main-black: #000000;
}

/* sets 1rem to 10px with standard 16px font size */
html {
  font-size: 62.5%;
}

* {
  font-size: 1.8rem;
  line-height: 2.25rem;
  font-family: "DM Mono", Courier, monospace;
}

h1 {
  font-weight: 400;
  font-family: "Fjalla One", Helvetica, sans-serif;
}

h2 {
  font-family: "Fjalla One", Helvetica, sans-serif;
  font-weight: 400;
}

h5 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 400;
}

a,
a::before,
a:active,
a::after {
  color: var(--main-black);
}
dl,
dt,
dt {
  margin: 0;
  padding: 0;
}
