.Header {
  background: var(--main-green-color);
  margin-bottom: 1.45rem;
  min-width: 100vw;
}

.HeaderContainer {
  display: flex;
  justify-content: start;
  padding: 1.45rem 1.0875rem;
}

h1 {
  margin: 0;
  font-family: "Fjalla One", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 100%;
}
