.Header {
  background: var(--main-green-color);
  width: 100vw;
  text-transform: uppercase;
  margin-bottom: 1.45rem;
  min-height: 28rem;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem;
}

.HeaderContainer h1 {
  font-size: 7rem;
  line-height: 7rem;
}

@media (min-width: 768px) {
  .HeaderContainer h1 {
    margin-left: 7.4rem;
    font-size: 8rem;
    line-height: 8rem;
  }
}
