.NotShow {
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.Content {
  margin: var(--medium-margin-mobile) var(--large-margin-mobile);
}

@media (min-width: 768px) {
  .Content {
    margin: var(--small-margin-desktop) var(--large-margin-desktop);
  }
}
